.topic {
  padding: 15px 0;
  font-size: 15px;
  color: #434343;

  &:not(:last-child) {
    border-bottom: 1px solid #eff0f6;
  }
}

.topicHeading{
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  font-weight: 500;
}

.module{
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  padding: 17px 19px;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #434343;
}

.topicModules{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}