.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.gridLayout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.gridModulesLayout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.search {
  padding: 15px 15px 15px 45px;
  outline: none;
  flex-grow: 1;
  color: #666;
  border: 1px solid #eff0f6;
  border-radius: 8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08);

  &::placeholder {
    color: #908269;
  }
}

.searchWrapper {
  position: relative;
  width: 100%;
  display: flex;
}

.searchIcon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-56%);
}

.button{
  border-radius: 4px;
  background: #908269;
  border: none;
  font-size: 14px;
  letter-spacing: 0.01em;
  color: #fff;
  padding: 12px 30px;
  cursor: pointer;
  margin-bottom: 7px;
}