.module{
  font-size: 14px;
  color: #666666;
}

.description{
  margin-top: 10px;
  font-style: italic;
  font-size: 14px;
}

.discipline{
  display: flex;
  flex-direction: column;
}

.heading{
  font-weight: bold;
  font-size: 19px;
}