.input{
  padding: 15px;
  outline: none;
  flex-grow: 1;
  border: 1px solid #eff0f6;
  border-radius: 8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08);
  font-size: 21px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #434343;
}